.home {
    display: flex;
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@media (prefers-reduced-motion: no-preference) {
    .search-input-animated {
        position: relative;
        text-align: center;
        width: 90%;
        animation: search-input-animation ease-out 1s;
    }
}

@keyframes search-input-animation {
    from {
        transform: translateY(300px);
    }
    to {
        transform: translateY(-500px);
    }
}
